<<<<<<< HEAD
<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
=======
<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
>>>>>>> 1bf41ff7308f7adfeacd0d7a8b1e79255ac7d02d
